@model WebApplication3.Models.Cliente

<h3>El registro se borrara permanentemente </h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPATERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPATERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APMATERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APMATERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BORRADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BORRADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAMOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAMOD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("REgresar a la lista", "Index")
        </div>
    }
</div>
