@model WebApplication3.Models.Plan

<h3>El registro se borrara permanentemente </h3>
<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDPLAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPLAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAMOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAMOD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Planes")
        </div>
    }
</div>
