@model IEnumerable<WebApplication3.Models.Plan>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPLAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAMOD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
   <td>
            @Html.DisplayFor(modelItem => item.IDPLAN)
        </td>
  
    <td>
        @Html.DisplayFor(modelItem => item.DESCRIPCION)
    </td>
   
    <td>
        @Html.DisplayFor(modelItem => item.FECHAMOD)
    </td>
    
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.IDPLAN }) |
        @Html.ActionLink("Detalle", "Details", new { id = item.IDPLAN }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.IDPLAN })
    </td>
</tr>
}

</table>
