@model WebApplication3.Models.RelCliPln

<h3>El registro se borrara permanentemente </h3>
<div>
    <h4>Planes Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDPLAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPLAN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
